<h1>ADMIN -- Rotten Mangoes Users</h1>

<%= paginate @users %>

<% @users.each do |user| %>

  <p> ID: <%= user.id %>; Name: <%= user.firstname %> <%= user.lastname %>; Email: <%= user.email %> </p>
  <!-- <p> <%= user.reviews %> </p> -->

<%end%>


