<h1>ADMIN -- Rotten Mangoes Users</h1>

<% @users.each do |user| %>

  <p> ID: <%= user.id %> </p>
  <p> <%= user.firstname %> <%= user.lastname %>, <%= user.email %> </p>
  <p> <%= user.reviews %> </p>

<%end%>


