<h1>ADMIN -- Rotten Mangoes Users</h1>

<%= paginate @users %>

<table>                         
  <tr>                          
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
<% @users.each do |user| %>   
  <tr>
    <td><%= user.id %></td>  
    <td><%= user.firstname %></td>  
    <td><%= user.lastname %></td>  
    <td><%= user.email %></td>  
  </tr>
<% end %>                      
</table> 

