<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>

  <%= link_to "Rotten Mangoes", root_path %> --- <%= link_to "Submit a movie!", new_movie_path %>
  <br>
  <hr>

  <%= render 'layouts/search' %>
  <br>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
